@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.work {
  margin: 0 5%;
}

.work-intro {
  text-align: center;
  margin-bottom: 5px;
}
.card {
  border: 2px solid #6e57a4;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  gap: 20px;
  padding: 6%;
  border-radius: 0.5rem;
}

.card:hover,
.card:focus {
  box-shadow: 4px 5px 9px 0 #ffd100;
  border: 4px solid #6e57a4;
}

.card.Wood {
  display: block;
  cursor: default;
}

.work-container,
.data-viz-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.data-viz-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.data-viz-container h2 {
  border-bottom: 2px solid var(--primary-yellow);
}

.work img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

.card-title {
  margin: 0;
  padding: 0;
}

@media (max-width: 900px) {
  .work-container,
  .data-viz-group {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 700px) {
  .work-container,
  .data-viz-group {
    grid-template-columns: auto;
  }
}
