.modal {
  z-index: 1000;
  position: fixed;
  width: 80vw;
  max-height: 80%;
  top: 10vh;
  left: 10vw;
  animation: fadeIn 1s ease-in-out;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 0 var(--light-gray);
  border: 2px solid black;
  overflow-y: auto;
}

.modal:has(.article) {
  width: 95vw;
  max-height: 95%;
  top: 2.5vh;
  left: 2.5vw;
  @media (max-width: 700px) {
    width: 100vw;
    max-height: 100%;
    top: 0;
    left: 0;
  }
}

.modal:has(.article.fullScreen) {
  width: 100vw;
  max-height: 100%;
  top: 0;
  left: 0;
}

.modal:has(.article.singlePage) .close {
  left: 5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn50 {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 0.5;
    transform: translateY(0);
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--light-gray);
  opacity: 0.5;
  animation: fadeIn50 0.5s ease-in-out;
}
.modalHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25%;

  @media (max-width: 700px) {
    gap: 10px;
  }
}
span.close {
  font-size: 3rem;
  cursor: pointer;
  z-index: 2000;
}

.modal-content {
  display: grid;
  grid-template-rows: 1fr max-content;
  padding: 5% 17%;
  overflow-y: auto;
  max-height: 50%;
  @media (max-width: 1100px) {
    padding: 5%;
  }
  @media (max-width: 700px) {
    display: block;
    gap: 0px;
    margin-top: 10px;
  }
}

@media (max-width: 700px) {
  .modal-content h1 {
    font-size: 1.5rem;
  }
}

.modal-content:has(.singlePage) {
  padding: 0;
  height: 100vh;
  overflow-y: hidden;
}

.modal-description-image {
  display: grid;
  grid-template-columns: 3fr 6fr;
  gap: 20px;
  align-items: start;
  padding-top: 20px;
  border-top: 3px solid var(--primary-yellow);
  @media (max-width: 700px) {
    grid-template-columns: none;
    grid-template-rows: 1fr max-content;
    gap: 0px;
  }
}

.modal-description-image img {
  border: 1px solid black;
  @media (max-width: 700px) {
    width: 70%;
    height: auto;
    margin: auto;
  }
}

.modal-technologies {
  margin-top: 10px;
}
