.portfolio-navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  height: max-content;
  padding: 10px;
  background-color: var(--primary-purple);
  margin-bottom: 1rem;
}

.portfolio-navBar-content {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin: auto;
  align-items: center;
  @media (max-width: 700px) {
    flex-direction: column;
    gap: 10px;
  }
}

.portfolio-navBar a {
  border: none;
  padding: 0;
  background-color: transparent;
  color: black;
  font-size: 1.75rem;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}

.portfolio-navBar a.active {
  outline: 1px solid var(--primary-yellow);
  padding: 6px;
  background-color: var(--medium-gray);
  color: white;
}
