.footerContent {
  background-color: var(--primary-purple);
  padding: 3%;
}
.footerText {
  font-family: "Roboto", sans-serif;
  font-size: 1.75rem;
  font-weight: 300;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media (max-width: 700px) {
    font-size: 1.25rem;
  }
}

.footerText a {
  color: white;
}

.footerText a:hover {
  font-weight: 400;
}

.footerText img {
  height: 30px;
  margin-right: 10px;
}
