#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

a {
  color: #6e57a4;
}

a:hover {
  color: #47386b;
}

a:visited {
  color: #5671a3;
}

.homePageContent {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}

.homePageContent::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url("/tiled_background.png");
  background-size: cover; /* or background-size: contain; */
  background-position: center;
  opacity: 0.5; /* Adjust this value to set your desired opacity */
}

@media (max-width: 700px) {
  .homePageContent {
    font-size: 1.25rem;
  }
}
.introduction {
  background-color: white;
  opacity: 0.9;
  margin: 3% 5%;
  padding: 3% 15%;
  position: relative;
  top: 7%;
  font-weight: 300;
  font-size: 1.7rem;
  line-height: 2rem;
  border: 4px solid var(--primary-yellow);
  border-radius: 10px;
}
.homeTextQuestion {
  font-weight: 400;
  color: #6e57a4;
}

.introduction p:not(:first-of-type) {
  margin-top: 40px;
}

.profilePicture {
  width: 30%;
  height: auto;
  margin: auto;
  border: 2px solid black;
}

.resume-container {
  padding: 0 13%;
}

.resume-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.resume-buttons button {
  margin-right: 10px;
}

.download-button {
  font-weight: bold;
}

.resume-image-wrapper {
  text-align: center;
}

.resume-image {
  max-width: 90%;
  margin-top: 20px;
}

.no-scroll {
  overflow: hidden;
}

.screenSizeWarning {
  height: 90%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 254, 254, 0.9);
  font-size: 2rem;
  padding: 10%;
  line-height: 3rem;
  z-index: 2000;
}
