@import "./components/Header/Header.css";
@import "./components/NavBar/NavBar.css";
@import "./components/Routes/Work/Work.css";
@import "./components/Modal/Modal.css";
@import "./components/Footer/Footer.css";
@import "./components/Articles/Articles.css";
@import "./components/D3/D3Charts.css";

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-purple: #75648c;
  --table-row-purple: #a68aa4;
  --very-light-purple: #fbfafe;
  --primary-yellow: #f2d57e;
  --nameTag-dark-gray: #2b2b2b;
  --medium-gray: #8d8c8c;
  --light-gray: #cccccc;
  --green: #5c7358;
  --light-blue: #84bfb4;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
}
