@import "./components/Header/Header.css";
@import "./components/NavBar/NavBar.css";
@import "./components/Routes/Portfolio/Portfolio.css";
@import "./components/Modal/Modal.css";
@import "./components/Footer/Footer.css";
@import "./components/Articles/Articles.css";

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-purple: #6e57a4;
  --table-row-purple: #c5b9df;
  --very-light-purple: #fbfafe;
  --primary-yellow: #ffd100;
  --nameTag-dark-gray: #4b4a4a;
  --medium-gray: #8d8c8c;
  --light-gray: #cccccc;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
}
